.icon {
    cursor: pointer;
}

.checksize {
    width: 20px;
    height: 20px;
    position: relative;
    border-radius: 50px;
}

.active {
    color: black;
    text-decoration: none;
}

.passive {
    color: red;
    text-decoration: line-through;
}